<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<% @page_title = "UserAuth | SignUp" %>
<div class="Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p> Username:</br> <%= f.text_feild :username %> </p>
    <p> Email:</br> <%= f.text_feild :email %> </p>
    <p> Password:</br> <%= f.password_feild :password %></p>
    <p> Password Confirmation: </br> <%= f.password_feild :password_confirmation %></p>
    <%= f.submit :SignUp %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="SignUp_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
  </ul>
  <% end %>
</div>
